.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-list {
  list-style: none;
}

.product-snippet {
  border: 1px solid black;
  border-radius: 5px;
  width: 500px;
  display: flex;
  margin-bottom: 15px;
  padding: 15px;
  align-items: center;
  color: gray;
}

.product-snippet-info {
  display: flex;
  flex-direction: column;
  height: 100px;
  margin-left: 15px;
  justify-content: space-around;
}

.product-name {
  font-size: 24px;
}

.product-prices {
  display: flex;
  width: 120px;
  justify-content: space-between;
}

.product-price {
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
}

.product-retail-price {
  display: flex;
  font-size: 14px;
  text-decoration: line-through
}

.product-details-button {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

.details-button {
  background-color: rgb(115, 189, 115);
  width: 120px;
  height: 50px;
  border: 0;
  border-radius: 10px;
  color: white;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.product-details-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: space-between;
}

.product-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}